#!/bin/bash
yum update -y

# install docker
amazon-linux-extras install -y docker
service docker start
chkconfig docker on
usermod -a -G docker ec2-user

# install git
yum install git make -y

# install github runner application
mkdir actions-runner && cd actions-runner
curl -o actions-runner-linux-x64-2.278.0.tar.gz -L https://github.com/actions/runner/releases/download/v2.278.0/actions-runner-linux-x64-2.278.0.tar.gz
tar xzf ./actions-runner-linux-x64-2.278.0.tar.gz
./config.sh --url ${github_repo_url} --token ${github_repo_pat_token}

# run runner app on startup
./svc.sh install
./svc.sh start